<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/style.css}" />
    <title>Listagem de Produtos</title>
  </head>

  <body>
    <h1>Listagem de Produtos</h1>

    <div th:if="${message}" style="color: green; font-weight: bold">
      <p th:text="${message}"></p>
    </div>

    <div th:if="${error}" style="color: red; font-weight: bold">
      <p th:text="${error}"></p>
    </div>

    <p>
      <a th:href="@{/products/new}">Inserir Produto</a>
    </p>

    <table>
      <tr>
        <th>#</th>
        <th>NAME</th>
        <th>PRICE</th>
        <th>DESCRIPTION</th>
        <th>ACTIONS</th>
        <th></th>
      </tr>
      <tr th:each="prod : ${products}">
        <td th:text="${prod.id}">---</td>
        <td th:text="${prod.name}">---</td>
        <td th:text="${prod.price}">---</td>
        <td th:text="${prod.description}">---</td>
        <td>
          <a th:href="@{'/products/edit/' + ${prod.id}}">UPDATE</a>
        </td>
        <td>
          <a
            th:href="@{'/products/delete/' + ${prod.id}}"
            onclick="return confirm('Tem certeza que deseja excluir este produto?');"
          >
            DELETE
          </a>
        </td>
      </tr>
    </table>
  </body>
</html>
